.container {
  background-color: lightblue;
  height: 200px;
  width: 350px;
}

h1 {
  font-size: 20px;
}

.item-text {

}

.field {
  font-size: 5px;
  margin-left: 9px;
}

.phone {
  font-size: 5px;
  margin-left: 40px;
}

.first_name {
  font-size: 5px;
  margin-left: 8px;
}

.city_state {
  font-size: 5px;
  margin-left: 13px;
}
